
<!-- <section> -->
    <footer class="footer__layout color-light">
        <div class="inner footer-display-flex" style="z-index: 1333">
            <section class="footer__layout-block color-light">
                <h2>Let's Connect</h2>
                <div class="site-home__social color-light">
                        <ul>
                            <li><a class="intro-social-link" href="https://github.com/koolamusic">{% include github.html %}</a></li>
                            <li><a class="intro-social-link isl-size" href="https://facebook.com/koolamusic">{% include facebook.html%}</a></li>
                            <li><a class="intro-social-link isl-size" href="https://twitter.com/koolamusic">{% include twitter.html %}</a></li>
                            <li><a class="intro-social-link" href="https://linkedin.com/in/salzzyandrewmiracle">{% include linkedin.html %}</a></li>
                            <li><a class="intro-social-link" href="https://instagram.com/koolamusic">{% include instagram.html %}</a></li>
                            <li><a class="intro-social-link" href="https://medium.com/@koolamusic">{% include medium.html %}</a></li>
                        </ul>
                    </div>
                </section>
                
                <section class="footer__layout-block">
                    <div class="footer__block-links">
                        
                        <nav class="footer__block-nav" role="menu">
                            <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
                            <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
                            <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}brands/">Brands</a></li>
                            <li class="nav-getting-started" role="menuitem"><a href="mailto:me@andrewmiracle.com">Contact</a></li>
                        </nav>
                        <nav class="footer__block-nav" role="menu">
                            <li><a href="{{ site.baseurl }}tag/talks">Talks</a></li>
                            <li><a href="{{ site.baseurl }}tag/code">Programming</a></li>
                            <li><a href="{{ site.baseurl }}tag/thinking">Thoughts</a></li>
                            <li><a href="{{ site.baseurl }}tag/leadership">Leadership</a></li>
                            <li><a href="{{ site.baseurl }}tag/journal">Journal</a></li>
                        </nav>
                        
                    </div>
                    
                    <div class="footer__block-bottom">
                            <h5 class="f_block__text">Currently doing: <a href="{{ site.doing_url }}">{{ site.doing }}</a></h5>
                            <h5 class="f_block__text">Currently reading: <a href="{{ site.baseurl }}tag/books">{{ site.reading }}</a></h5>
                        </div> 
                    </section>
                </div><!-- End the Links block section -->
            </footer>
        <!-- </section> -->