/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

12. Pagination

*/

/* 12. Pagination - Tools to let you flick between pages
/* ---------------------------------------------------------- */

/* The main wrapper for our pagination links */
.pagination {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Graphik Web', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
}

.pagination a {
    color: #333333;
    transition: all 0.2s ease;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #bfc8cd 1px solid;
    text-decoration: none;
    border-radius: 4px;
    transition: border 0.3s ease;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts {
    left: 0;
}

.older-posts:hover,
.newer-posts:hover {
    color: #3eb0ef;
    border-color: #98a0a4;
}

.extra-pagination {
    display: none;
    border-bottom: #EBF2F6 1px solid;
}
.extra-pagination:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}
.extra-pagination .pagination {
    width: auto;
}

/* On page2+ make all the headers smaller */
.paged .main-header {
    max-height: 30vh;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
    display: block;
}

/* Every post, on every page, gets this style on its <article> tag */
.pagination {
    padding-top: 4rem;
    border-top: #bfc8cd 1px solid;
    word-wrap: break-word;
}

/* Add a little circle in the middle of the border-bottom on our .post
   just for the lolz and stylepoints. */
.pagination:before {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #bfc8cd 1px solid;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    background: #f4f8fb;
    border-radius: 100%;
    box-shadow: #f4f8fb 0 0 0 5px;
}

figure.highlight,
.highlight pre,
.highlight code,
.highlight table,
.highlight tbody,
.highlight tr,
td.code {
    border: none;
    min-width: 100%;
    max-width: 100%;
}

.highlight table,
.highlight td pre {
    padding: 0;
    margin: 0;
}

.highlight table td {
    border: none;
    margin: none;
    padding: none;
}

.highlight table td:first-child,
.highlight table td:last-child {
    background: none;
}


.post-card-meta {
    display: none;
}

.bottom-wrapper {
    position: relative;
    z-index: 5;
    margin: 6rem auto;
}

.bottom-wrapper::before {
    content: "";
    min-height: 500px;
    position: absolute;
    background: #f9f9fa;
    width: 100%;
    width: 100vw;
    margin-left: -12vw;
    /* margin-right: -5vw; */
    vertical-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: -20px;
}

@media (max-width:768px) {

.bottom-wrapper::before {
  
    width: 120%;
    left: 0;
    margin-right: -25px;
    /* right: -31px; */
}


}

.alternate-bg {
    background: #f9f9fa;
    background-color: #f9f9fa;
}

.ref-link {
        color: inherit;
        text-decoration: none;
        background-image: linear-gradient(to right, rgb(48, 49, 51) 0%, transparent 50%);
        background-position: 0 2.05em;
        background-repeat: repeat-x;
        background-size: 3px 5px;
}
    
.ref-link:hover, .ref-link:active {
    color: #CF4A4A;
    background-image: linear-gradient(to right, #CF4A4A 0%, transparent 50%);
    text-decoration: none;
}


.kg-card-markdown a {
    border-bottom: 1px solid #CF4A4A;
    box-shadow: inset 0 -4px 0 #CF4A4A;
    color: inherit;
    -webkit-transition: background .15s cubic-bezier(0.33,0.66,0.66,1);
    transition: background .15s cubic-bezier(0.33,0.66,0.66,1);
}

.kg-card-markdown a:hover {
    background: #CF4A4A;
    color: black;
}

.home-intro {
    text-align: left;
    align-self: flex-start;
}